{% load static %}
<hr class="card__block__hr">
<div class="card__block">
	<h2 class="block_headline">Вам понравится</h2>
	<div class="card__container">

		{% for Product in Recommendations %}
		<a href="/product/{{Product.id}}" class="card_el shadow">
			<div class="card_image">
				<img src="{{ Product.Image.url }}" alt="">
			</div>
			<div class="card_name">
				{{Product.Name}}
			</div>
			<div class="card_price">
				<!-- <span>10000 ₽</span> -->
				{{Product.Price}} ₽
			</div>
		</a>
		{% endfor %}
		
	</div>
	<a href="/catalog/" class="button card_more__button">Смотреть все</a>
</div>
<br><br>